@using BoldRealties.Models
@model  IEnumerable<Users>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container p-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class= "text-dark">User List</h2>
        </div>
        
    </div>
    <table class= "table table-table-bordered table-table-striped">
        <thead>
            <tr>
               
                 <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
             <tr>
             
                <td>@item.firstName</td>
                <td>@item.lastName</td>
                <td>@item.Email</td>
                <td>@item.UserName</td>
               
               
            </tr>
            }
           

        </tbody>
    </table>
</div>




