@using BoldRealties.BLL
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BoldRealties.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
     <link rel="stylesheet" href="~/css/stylesheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BoldRealties.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    <partial name="Partial/Messages" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3" style="background-color:black";>
            <div class="container-fluid">
               <img class="img-fluid" style="width:120px;height:60px;" src="~/images/Bold.png" alt="Bold Realties"/>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <div class="dropdown">
                    @if(User.IsInRole(StaticDetails.Role_Admin))
                    {
                       
                      <a class="btn dropdown-toggle text-warning" style="background-color:black" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                       Tenancy Management
                      </a>
                      <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                         <a class="nav-link bg-dark" style="color:#f7b519" asp-controller="Tenancy" asp-action="Index">Tenancy</a>
                           <a class="nav-link bg-dark" style="color:#f7b519" asp-controller="Invoices" asp-action="Index">Invoices</a>
                          <a class="nav-link bg-dark" style="color:#f7b519" asp-controller="maintenanceJobs" asp-action="Index">Maintenance</a>
                             <a class="nav-link bg-dark" style="color:#f7b519" asp-controller="Deposits" asp-action="Index">Deposits</a>
                              <a class="nav-link bg-dark" style="color:#f7b519" asp-controller="RentPayments" asp-action="Index">Payment</a>


                      </ul>
                      }
                      </div>
                      <div class="dropdown">
                     @if(User.IsInRole(StaticDetails.Role_Tenant))
                    {
                       
                   
                       <a class="btn dropdown-toggle text-warning" style="background-color:black" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Tenant | My Tenancy
                      </a>
                      <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                         <a  class="btn btn-dark" asp-controller="Tenancy" asp-action="Find">My Tenancy</a>
                               <a asp-controller="RentPayments" asp-action="TenantPayments" class="btn btn-dark">My payments</a>
                            <a class="btn btn-dark" asp-controller="payment" asp-action="Index" value="Add to Cart">
                    Pay now
                     </a>
                          </ul>
                            
                             
                        }
                        </div>
                          <div class="dropdown">
                        @if (User.IsInRole(StaticDetails.Role_Landlord))
                        {

                            <a class="btn dropdown-toggle text-warning" style="background-color:black" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Landlord | My Property
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                                <a class="nav-link bg-dark" style="color:#f7b519" asp-controller="PropertiesRS" asp-action="LandlordProperty">My Property</a>
                                <a asp-controller="RentPayments" asp-action="LandlordPayments" class="btn btn-warning">My payments</a>
                                

                            </ul>
                          
                        }
                    </div>
                    <div class="dropdown">
                        @if (User.IsInRole(StaticDetails.Role_Admin))
                        {
                            <a class="btn dropdown-toggle text-warning" style="background-color:black" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Rentals
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                                <a class="nav-link bg-dark" style="color:#f7b519" asp-controller="Viewings" asp-action="Index">Viewings</a>
                                <a class="nav-link bg-dark" style="color:#f7b519" asp-controller="Enquiries" asp-action="Index">Enquiries</a>
                                <a class="nav-link bg-dark" style="color:#f7b519" asp-controller="PropertiesRS" asp-action="Index">Properties</a>
                                  
                            </ul>
                           
               
                        }
                    </div>
                      <div class="dropdown">
                        @if (User.IsInRole(StaticDetails.Role_Subcontractor))
                        {
                            <a class="btn dropdown-toggle text-warning" style="background-color:black" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Subcontractor | Maintenance
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                                <a class="nav-link bg-dark" style="color:#f7b519" asp-controller="Invoices" asp-action="Index">Invoices</a>
                                <a class="nav-link bg-dark" style="color:#f7b519" asp-controller="maintenanceJobs" asp-action="QuotedMaintenanceJobs">My maintenance jobs</a>
          
                            </ul>
                        }
                    </div>
                    <ul class="navbar-nav flex-grow-1">
                        @if(!User.Identity.IsAuthenticated)
                        {
                              <li class="nav-item">
                            <a class="nav-link py-3" style="color: #f7b519" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-3" style="color: #f7b519" asp-area="" asp-controller="PropertiesRS" asp-action="PropertiesList">Properties</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link py-3" style="color: #f7b519" asp-area="" asp-controller="Enquiries" asp-action="AddEnquiry">Send enquiry</a>
                            </li>
                             <li class="nav-item">
                           <a class="nav-link py-3" style="color:#f7b519"  asp-controller="User" asp-action="Index">User</a>
                        </li>
                        } 
                    </ul>
                     
                      <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
