@using BoldRealties.Models
@model jobs
@{
    ViewData["Title"] = "AddMJ";
    Layout = "~/Views/Shared/_UserPanel_Layout.cshtml";
}

<form method="post">
    <div class="border p-3 mt-4">
         <a asp-page="/maintenanceJobs/Index" class="btn btn-primary">Jobs List</a>
        <div class= "row pb-2">
            <h2 cass="text-primary pl-3"> Create job</h2>
        </div>
        <div class="mb-3">
           <label asp-for="StartDate">Start Date</label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
           <label asp-for="EndDate">End Date</label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    
        <button type="submit" class="btn btn-primary">Create</button>
         <a asp-controller="maintenanceJobs" asp-action="Index" class="btn btn-primary">Jobs List</a>
    </div>
</form>





