@using BoldRealties.Models
@model BoldRealties.Models.ViewModels.ViewingsVM
@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
	<input asp-for="Viewings.Id" hidden />
     <a asp-page="/Viewings/Index" class="btn btn-primary">Viewings List</a>
     <hr/>
    <div class="border p-3 mt-4 row">
        
        <div class= "row pb-2">
            <h2 cass="text-primary pl-3"> Viewings</h2>
        </div>
        <div class="mb-3 col-6">
           <label asp-for="Viewings.viewing_Date">Tenancy Start Date</label>
            <input type="date" asp-for="Viewings.viewing_Date" class="form-control" />
            <span asp-validation-for="Viewings.viewing_Date" class="text-danger"></span>
        </div>

         <div class="mb-3  col-6">
        <label asp-for="Viewings.isConfirmed">Confirmed?</label>
        @Html.DropDownList("Viewings.isConfirmed", new SelectList(new[] { "True", "False" }), new { @class="form-control select1"})
      </div>
     
       
     
       <div class="mb-3  col-6">
           <label asp-for="Viewings.PropertyID">Property Address</label>
            <select asp-for="Viewings.PropertyID" asp-items="@Model.PropertiesList" class="form-select">
                <option disabled selected>--Select Property--</option>
            </select>
        </div>
        <div class="mb-3  col-6">
           <label asp-for="Viewings.Users.Id">User ID</label>
            <select asp-for="Viewings.Users.Id" asp-items="@Model.UserList" class="form-select">
                <option disabled selected>--Select User--</option>
            </select>
        </div>
     <div class="mb-3  col-6">
           <label asp-for="Viewings.ApplicantID">Aplicant Name</label>
            <select asp-for="Viewings.ApplicantID" asp-items="@Model.AplicantsList" class="form-select">
                <option disabled selected>--Select Aplicant--</option>
            </select>
        </div>
    
     <div class="col-6">
			@if (Model.Viewings.Id != 0)
			{
				<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
			}
			else
			{
				<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
			}
			<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
				Back to List
			</a>
		</div>

	</div>

		
	
</form>