@using BoldRealties.Models
@model officeAddress
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_UserPanel_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4">
     
<form method="post" class="justify-content-sm-right">
    <div class="border p-3 mt-4">
         <a asp-page="/officeAddress/Index" class="btn btn-warning">Office Addresses List</a>
        <div class= "row pb-2">
            <h2 cass="text-primary pl-3"> Add Office Address</h2>
        </div>
        <div class="mb-3">
           <label asp-for="Address">First Name</label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="mb-3">
           <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
         <div class="mb-3">
           <label asp-for="Phone1">Phone number mobile</label>
            <input asp-for="Phone1" class="form-control" />
            <span asp-validation-for="Phone1" class="text-danger"></span>
        </div>
        <div class="mb-3">
           <label asp-for="Phone2">phone 2</label>
            <input asp-for="Phone2" class="form-control" />
            <span asp-validation-for="Phone2" class="text-danger"></span>
        </div>
        <div class="mb-3">
           <label asp-for="Fax">Fax</label>
            <input asp-for="Fax" class="form-control" />
            <span asp-validation-for="Fax" class="text-danger"></span>
        </div>
            <div class="mb-3">
           <label asp-for="MapPathLarge">Map Large</label>
            <input asp-for="MapPathLarge" class="form-control" />
            <span asp-validation-for="MapPathLarge" class="text-danger"></span>
        </div>
            <div class="mb-3">
           <label asp-for="MapPathSmall">map small</label>
            <input asp-for="MapPathSmall" class="form-control" />
            <span asp-validation-for="MapPathSmall" class="text-danger"></span>
        </div>
        --> TO DO -->

        --> Add Map Large and Map Small -->

        <button type="submit" class="btn btn-warning">Add</button>
    </div>
</form>
</div>
</div>






