@using BoldRealties.Models
@model Deposits
@{
    ViewData["Title"] = "AddDeposit";
    Layout = "~/Views/Shared/_UserPanel_Layout.cshtml";
}
<form method="post">
    <div class="border p-3 mt-4">
       
        <div class= "row pb-2">
            <h2 cass="text-primary pl-3"> Add Deposit</h2>
        </div>
        <div class="mb-3">
           <label asp-for="amount">Amount</label>
            <input asp-for="amount" class="form-control" />
            <span asp-validation-for="amount" class="text-danger"></span>
        </div>

        <div class="mb-3">
        <label asp-for="isReceived">Received?</label>
        @Html.DropDownList("Received?", new SelectList(new[] { "True", "False" }), new { @class="form-control select1"})
       <span asp-validation-for="isReceived" class="text-danger"></span>
    </div>
         <div class="mb-3">
           <label asp-for="receivedDate">Received Date</label>
            <input asp-for="receivedDate" class="form-control" />
            <span asp-validation-for="receivedDate" class="text-danger"></span>
        </div>

        --> Make due date same as tenancy start date -->

        <div class="mb-3">
           <label asp-for="due_date">Due Date</label>
            <input asp-for="due_date" class="form-control" />
            <span asp-validation-for="due_date" class="text-danger"></span>
        </div>
       
        <div class="mb-3">
        <label asp-for="isProtected">Protected?</label>
        @Html.DropDownList("Protected?", new SelectList(new[] { "True", "False" }), new { @class="form-control select1"})
       <span asp-validation-for="isProtected" class="text-danger"></span>
    </div>
         <div class="mb-3">
           <label asp-for="protected_Date">Protected Date</label>
            <input asp-for="protected_Date" class="form-control" />
            <span asp-validation-for="protected_Date" class="text-danger"></span>
        </div>

          <div class="mb-3">
        <label asp-for="isReturned">Returned?</label>
        @Html.DropDownList("Returned?", new SelectList(new[] { "True", "False" }), new { @class="form-control select1"})
       <span asp-validation-for="isReturned" class="text-danger"></span>
    </div>
         <div class="mb-3">
           <label asp-for="returned_Date">Returned Date (to tenant)</label>
            <input asp-for="returned_Date" class="form-control" />
            <span asp-validation-for="returned_Date" class="text-danger"></span>
        </div>
          <div class="mb-3">
        <label asp-for="isTransfered">Transfered?</label>
        @Html.DropDownList("Received?", new SelectList(new[] { "True", "False" }), new { @class="form-control select1"})
       <span asp-validation-for="isTransfered" class="text-danger"></span>
    </div>
         <div class="mb-3">
           <label asp-for="receivedDate">Received Date</label>
            <input asp-for="receivedDate" class="form-control" />
            <span asp-validation-for="receivedDate" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
         <a asp-controller="User" asp-action="Index" class="btn btn-primary">User List</a>
    </div>
</form>




